@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.card {
    border-radius: 18px;
    background: linear-gradient(225deg, white, white);
    box-shadow: -10px 10px -10px white,
        5px -5px 2px white;
}

.image-area {
    width: 100%;
    /* border-radius: px; */
    object-fit: none;
    object-position: 50% 10%;
    zoom: 80%;
}